@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TaskOL>
<div class="row h-auto">
    <div class="col w-50">
        <h4 class="">Task Lists</h4>
    </div>
    <div class="col w-50">
    </div>
</div>
<div class="row h-100 p-4 shadow-sm">
    @foreach (var item in Model)
    {
        string parentId = $"_{item.Id}_{item.Name?.Replace(' ', '_')}";
        string childId = $"{item.Name?.Replace(' ', '_')}";

        <div class="accordion shadow-sm flex" id="@parentId">
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#@childId" aria-expanded="false" aria-controls="#@childId">
                        <div class="flex-fill">
                            <h3 class="display-6">
                                @item.Name
                            </h3>
                        </div>
                        <div class="flex-fill">
                            <p class="align-middle">
                                @item.DueDate?.ToLongDateString()
                            </p>
                        </div>
                    </div>
                </div>
                <div id="@childId" class="accordion-collapse collapse" data-bs-parent="#@parentId">
                    <div class="btn-group d-flex p-2">
                        <a class="btn btn-secondary" href="#">
                            <i class="bi bi-person-add"></i>
                        </a>
                        <a class="btn btn-outline-primary">
                            <i class="bi bi-calendar2-plus"></i>
                        </a>
                        <a class="btn btn-outline-secondary">
                            <i class="bi bi-plus-square"></i>
                        </a>
                    </div>
                    @if (item.SubTasks != null)
                    {
                        @foreach (var subtask in item?.SubTasks ?? new List<SubTaskOL>())
                        {
                            <div class="accordion-body">
                                <p>
                                    @subtask.Name
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
