@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TaskOL>
<div class="row h-auto">
    <div class="col w-50">
        <h4 class="">Task Lists</h4>
    </div>
    <div class="col w-50">
    </div>
</div>
<div class="row h-100 p-4">
    @foreach (var item in Model)
    {
        string parentId = $"_{item.Id}_{item.Name?.Replace(' ', '_')}";
        string childId = $"{item.Name?.Replace(' ', '_')}";

        <div class="accordion shadow-sm flex" id="@parentId">
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@childId" aria-expanded="false" aria-controls="#@childId">
                        <div class="col">
                            <h3 class="h-5">
                                @item.Name
                            </h3>
                        </div>
                        <div class="col">
                            <p class="align-text-top">
                                @item.DueDate?.ToLongDateString()
                            </p>
                            <p class="align-middle">
                                @item.AssignedMember?.First @item.AssignedMember?.Last
                            </p>
                        </div>
                    </div>
                </div>
                <div id="@childId" class="accordion-collapse collapse" data-bs-parent="#@parentId">
                    <div class="btn-group d-flex p-2">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addSubTaskModal-@item.Id">
                            <i class="bi bi-file-earmark-plus-fill h-50"></i>
                        </button>
                        @* <i class="bi bi-calendar2-plus"></i> *@
                        <a class="btn btn-outline-secondary">
                            <form class="d-flex" asp-action="ChangeDueDate">
                                <input type="hidden" name="Id" asp-for="@item.Id" />
                                <label for="#dueDate" class="text-start flex-grow-1">@Html.DisplayNameFor(model => model.DueDate)</label>
                                <input asp-for="@item.DueDate" name="DueDate" id="dueDate" class="form-control flex-fill" placeholder="Due Date" />
                                <input type="submit" value="Save DueDate" class="btn btn-primary" />
                            </form>
                        </a>
                        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#memberModal">
                            <i class="bi bi-person-plus-fill fw-bold"></i>
                        </button>

                        <partial name="AddSubTaskModal" aria-labelledby="exampleModalLabel" model="new SubTaskOL() { TaskId = item.Id }" />
                        <partial name="MemberModal" aria-labelledby="exampleModalLabel" />
                    </div>
                    @if (item.SubTasks != null)
                    {
                        @foreach (var subtask in item?.SubTasks ?? new List<SubTaskOL>())
                        {
                            <div class="accordion-body px-5">
                                <p>
                                    @subtask.Name
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }

    <partial name="AddTaskModal" model="new TaskOL()" />
    <a class="btn btn-primary w-25 mt-4" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task</a>
</div>
