@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TaskOL>
<div class="row h-auto">
    <div class="col w-50">
        <h4 class="">Task Lists</h4>
    </div>
    <div class="col w-50">
    </div>
</div>
<div class="row h-100 p-4 shadow-sm">
    @foreach (var item in Model)
    {
        string parentId = $"_{item.Id}_{item.Name?.Replace(' ', '_')}";
        string childId = $"{item.Name?.Replace(' ', '_')}";

        <div class="accordion shadow-sm flex" id="@parentId">
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#@childId" aria-expanded="false" aria-controls="#@childId">
                        <div class="flex-fill">
                            <h3 class="display-6">
                                @item.Name
                            </h3>
                        </div>
                        <div class="flex-fill">
                            <p class="align-middle">
                                @item.DueDate?.ToLongDateString()
                            </p>
                            <p class="align-middle">
                                @item.AssignedMember?.First @item.AssignedMember?.Last
                            </p>
                        </div>
                    </div>
                </div>
                <div id="@childId" class="accordion-collapse collapse" data-bs-parent="#@parentId">
                    <div class="btn-group d-flex p-2">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addSubTaskModal">
                            <i class="bi bi-person-add"></i>
                        </button>
                        <button class="btn btn-outline-primary">
                            <i class="bi bi-calendar2-plus"></i>
                        </button>
                        <button class="btn btn-outline-secondary">
                            <i class="bi bi-plus-square"></i>
                        </button>

                        <div class="modal fade" id="addSubTaskModal" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="h5">
                                            Add Subtask
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" placeholder="Name" />
                                    </div>
                                    <div class="modal-footer btn-group">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @if (item.SubTasks != null)
                    {
                        @foreach (var subtask in item?.SubTasks ?? new List<SubTaskOL>())
                        {
                            <div class="accordion-body">
                                <p>
                                    @subtask.Name
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
